html{
    margin: 0;
    box-sizing: border-box;
}


#chosen-color{
    width: 51px;
    height: 34px;
    border: 0.5px solid;
}

#selector{
    width: 312px;
    height: 42px
}

#display-color{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.container {
    text-align: center;
    width: 320px;
}


.color{
    height: 70vh;
    /* width: 320px; */
    border-right: 0.4px solid
}