html{
    margin: 0;
    box-sizing: border-box;
}


#chosen-color{
    width: 51px;
    height: 34px;
    border: 0.5px solid;
}

#selector{
    width: 312px;
    height: 42px
}

#display-color{
    display: flex;
    justify-content: space-evenly;
}

.color{
    background-color: aqua;
}